* {
    --grey: rgb(56, 56, 56);
}

a {
    text-decoration: none;
}

h2 {
    margin: 48px 0 24px;
}

.pt-serif-regular {
    font-family: "PT Serif", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
}

.paragraphs {
    margin: 36px 0;
    text-align: justify;
}

.pt-serif-bold {
    font-family: "PT Serif", serif;
    font-weight: 700;
    font-style: normal;
}

body {
    background: white;
    color: var(--grey);
    min-height: 100dvh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex {
    display: flex;
}

.center-content {
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content {
    margin: 20px 0;
    padding: 0 12px;
    max-width: 800px;
}

.logos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

.logo h1 {
    margin: 0;
}

.cross:after {
    display: block;
    content: "\00d7";
    margin: 0 4px 12px 0;
}

h1 {
    margin: 12px 0;
}

.list-undecorated {
    list-style-type: none;
    padding-inline-start: 0;
}

.text-center {
    text-align: center;
}

.speaker {
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin: 48px 0;
    text-align: left;
}

.speaker_recalled img {
    filter: grayscale();
}

.speaker_recalled div:not(:hover) {
    filter: blur(2px);
}

.speaker_replacement {
    position: relative;
}

.speaker_replacement::before {
    content: 'Доклад на замену';
    position: absolute;
    top: 3rem;
    right: 0;
    rotate: 45deg;
    border: 1px solid red;
    color: red;
    padding: 0 1rem;
}

.speaker img {
    width: 262px;
    height: 262px;
    object-fit: cover;
    border-radius: 2px;
}

.speaker h1 {
    margin-top: 0;
}

.links {
    list-style-type: none;
    padding: 0;
}

.links li {
    margin-bottom: 12px;
}

.links li:before {
    content: "—";
    text-indent: -5px;
}

.after-replace-icon::after {
    content: '';
    width: 50px;
    height: 50px;
    display: inline-block;
    margin: 0;
    background-image: url(./replace.png);
    background-repeat: no-repeat;
    background-size: contain;
}

@media screen and (min-width: 768px) {
    .logos {
    flex-direction: row;
    gap: 24px;
    }

    .speaker {
    flex-direction: row;
    }

    .cross:after {
    margin: 0 0 12px;
    }

    .speaker_replacement::before {
        right: -5rem;
    }
}

@media screen and (prefers-color-scheme: dark) {
    body {
    background: var(--grey);
    color: white;
    }
    a {
        color: #f7d13b;
    }
}